# mengabaikan folder data
data/processed
data/raw
data/augmented
data/prep
data/videos
data/uploads
data/hands
# mengebaikan folder virtual environment
venv
# mengabaikan file rahasia
.env
# mengabaikan folder uji coba
banding_notebooks
# mengabaikan model
models/sibi_model.keras