# mengabaikan folder data
data/processed
data/raw
data/augmented
data/prep
data/videos
data/uploads
data/hands
# mengebaikan folder virtual environment
venv/
# mengabaikan file rahasia
.env
# mengecualikan model yang besar
models/sibi_model.keras
__pycache__
*.pyc