<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Penerjemah Bahasa Isyarat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="container">
    <nav>
        <h1>SIBI</h1>
        <a class="home" href="#">Home</a>
        <a class="collection" href="collection.html">Collection</a>
        <a class="contact" href="contact.html">Contact</a> 
        <div class="button">
            <!-- <button class="login">Login</button>
            <button class="signup">Sign Up</button> -->
        </div>
    </nav>
<div class="content">
        <div class="title-box">
                <div class="text">
                    <h1>Penerjemah Bahasa Isyarat SIBI</h1>
                </div>
                <b>Terjemahkan Video Isyarat Anda Secara Langsung </b>
                <div class="camera-control">
                <button id="mulai" type="button">
                    <i class="fa-solid fa-play fa-beat" style="color: rgb(116, 192, 252);"></i> 
                </button>
                <button id="stop" type="button">
                    <i class="fa-solid fa-stop fa-beat-fade" style="color: rgb(240, 0, 0);"></i>
                </button>
                </div>

                <form id="UploadForm" action="/record_predict" method="POST" enctype="multipart/form-data">
                    <label for="videoUpload">Masukkan video: </label>
                    <input type="file" id="videoUpload" name="video" accept="video/*" required>
                    <button type="submit">Prediksi</button>
                </form>
                <div class="camera-box">
                    <video id="preview" autoplay muted width="400"></video>
                </div>
            </div>
        </div>
        <div class="result-box">
            <h2>Hasil Prediksi:</h2>
            <p id="hasil-prediksi"></p>
        </div>
</div>
</div>
<script src="{{url_for('static', filename='action.js')}}"></script>
</body>
</html>